
.container_tasks {
    margin-top: -2.5rem;
    background-color: white;
}

.container_no_tasks {
    margin-top: 70px;
    text-align: center;
    color: #979797;
}

.title_no_tasks {
    margin-top: 20px;
}

@media (min-width: 1239px) {
    .container_tasks {
        width: 45%;
        float: right;
        right: 0;
        margin-top: 0;
    }
}