textarea {
    resize: none;
}

.btn_create {
    margin-top: 15px;
}

.counter_letters {
    float: right;
}

.form-group.completed-checkbox {
    margin-top: 20px;
}

.form-check-label {
    margin-left: 20px;
}
